@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body{
    font-family: 'Balsamiq Sans', cursive;
    background-image: url(https://yt3.ggpht.com/a/AATXAJxulCzcYV4fW7BcTvIUO_W44bSaERA1KhyqXg=s900-c-k-c0xffffffff-no-rj-mo);
    background-size: cover;
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}

div{
    opacity: 0.7;
    margin: 2% 10%;
    padding: 50px;
    background-color: dodgerblue;
}

textarea{
    width: 300px;
    height: 100px;
    background-color:gold };

    #question{
    font-weight: 600;
}
button{
    margin-top: 50px;
    width: 330px;
    background-color: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 6px 6px 6px #CBCED1, -6px -6px 6px white;
}
label{
    font-size: 20px;
}
h1{
    font-size: 50px;
    color: rgb(9, 83, 3);
    font-family: 'Times New Roman', Times, serif;
}